{% load static %}
<header class="
shadow-[0_0_5px_gray]
">

<section class="main 
w-[100%]
flex relative justify-between pr-10 items-center
">
  <style>
    .not_mobile li.itemm{
      list-style: none;
      transition: transform .4s;
      font-size: 13px;
     

    }
    .not_mobile li.itemm:hover{

      transform: scale(1.2);

    }
    .the_chosen.itemm{
      text-decoration: underline;
      text-underline-offset: 5px;
    }
    
</style>
  <div class="logo flex justify-center items-center pl-10 h-[120px]">
    <a href="/">
    <img src="{% static 'media/grabd_logo-1.png' %}" 
    class="


    "
    alt="Logo">
  </a>
  </div>

  <div class="not_mobile
  
  hidden
  md:flex 
  gap-10 
  font-sans
  items-center  
  ">
  
    
    <!--  -->
    <li class="
    
    {% if chosen == 'sales' %}
    the_chosen
    {% endif %}  
    itemm">
      <a 
      class="flex flex-col  items-center"

      href="{% url 'core:over-view' 'sales' %}">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
        </svg>
        <p>
          المبيعات
        </p>
         

        </a>
        
    </li>
    <!--  -->
    <li class="
    
    {% if chosen == 'calculation' %}
    the_chosen
    {% endif %}  
    itemm">
      <a 
      class="flex flex-col  items-center"
      href="{% url 'core:over-view' 'calculation' %}">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
        </svg>
        <p>
        الحسابات
      </p>
         

        </a>
        
    </li>
    <!--  -->
    <li class="
    
    {% if chosen == 'warehouse' %}
    the_chosen
    {% endif %}  
    itemm">
      <a 
      class="flex flex-col  items-center"
      href="{% url 'core:over-view' 'warehouse' %}">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
      </svg>
      
        <p>
        المخزن
      </p>
         

        </a>
        
    </li>
    <!--  -->
    <!--  -->
    <li class="
    
    {% if chosen == 'hr' %}
    the_chosen
    {% endif %}  
    itemm">
      <a 
      class="flex flex-col  items-center"
      href="{% url 'core:over-view' 'hr' %}">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
      </svg>
      
      
        <p>
        الموارد البشرية
      </p>
         

        </a>
        
    </li>
    <!--  -->
    <!--  -->
    <li class="
    
    {% if chosen == 'products' %}
    the_chosen
    {% endif %}  
    itemm">
      <a 
      class="flex flex-col  items-center"
      href="{% url 'core:over-view' 'products' %}">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
      </svg>
      
      
        <p>
        المنتجات   </p>
         

        </a>
        
    </li>
    <!--  -->
    <li class="
    
    
    itemm">
      <a 
      class="


      px-3
      rounded-xl
      py-2
      "

      href="{% url 'core:logout' %}">

      
      
        <span
    class="flex gap-2"

        
        >

          تسجيل الخروج<svg width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
  <path d="M868 732h-70.3c-4.8 0-9.3 2.1-12.3 5.8-7 8.5-14.5 16.7-22.4 24.5a353.84 353.84 0 0 1-112.7 75.9A352.8 352.8 0 0 1 512.4 866c-47.9 0-94.3-9.4-137.9-27.8a353.84 353.84 0 0 1-112.7-75.9 353.28 353.28 0 0 1-76-112.5C167.3 606.2 158 559.9 158 512s9.4-94.2 27.8-137.8c17.8-42.1 43.4-80 76-112.5s70.5-58.1 112.7-75.9c43.6-18.4 90-27.8 137.9-27.8 47.9 0 94.3 9.3 137.9 27.8 42.2 17.8 80.1 43.4 112.7 75.9 7.9 7.9 15.3 16.1 22.4 24.5 3 3.7 7.6 5.8 12.3 5.8H868c6.3 0 10.2-7 6.7-12.3C798 160.5 663.8 81.6 511.3 82 271.7 82.6 79.6 277.1 82 516.4 84.4 751.9 276.2 942 512.4 942c152.1 0 285.7-78.8 362.3-197.7 3.4-5.3-.4-12.3-6.7-12.3zm88.9-226.3L815 393.7c-5.3-4.2-13-.4-13 6.3v76H488c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h314v76c0 6.7 7.8 10.5 13 6.3l141.9-112a8 8 0 0 0 0-12.6z"/>
</svg>
        </span>

         

        </a>
        
    </li>
    <!--  -->
    
      <!--  -->
    
  </div>

  <div class="for_mobile md:hidden flex">
    <div>
      <button class="relative group this_is_me">
        <div class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all ring-0 ring-gray-300 hover:ring-8 group-focus:ring-4 ring-opacity-30 duration-200 shadow-md">
          <div class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden">
            <div class="bg-black h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:translate-y-6 delay-100"></div>
            <div class="bg-black h-[2px] w-7 rounded transform transition-all duration-300 group-focus:translate-y-6 delay-75"></div>
            <div class="bg-black h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:translate-y-6"></div>

            <div class="absolute items-center justify-between transform transition-all duration-500 top-2.5 -translate-x-10 group-focus:translate-x-0 flex w-0 group-focus:w-12">
              <div class="absolute bg-black h-[2px] w-5 transform transition-all duration-500 rotate-0 delay-300 group-focus:rotate-45"></div>
              <div class="absolute bg-black h-[2px] w-5 transform transition-all duration-500 -rotate-0 delay-300 group-focus:-rotate-45"></div>
            </div>
          </div>
        </div>
      </button>

      <div class="content hidden md:flex">

      </div>
    </div>


  </div>




  <!--  Drop Down-->
<style>
  .th_boss ul li{
    font-size: 13px;

  }
  .th_boss ul li a svg{
    /* text-underline-offset: 10px; */
    transition: transform .4s;

  }
  .th_boss ul li a:hover svg{
    transform: scale(1.4); 
  }
  .the_chosen{
    text-decoration: underline;

  }
</style>
</section>
  <section class="bg-gradient-to-t from-gray-200 to-white absolute md:hidden  w-[100%] hidden th_boss"  >
    <ul class="px-4 gap-5 font-normal flex flex-col
    
    py-4">
      
      <li class="
    
    {% if chosen == 'sales' %}
    bg-gray-300 
    {% endif %}  
    
    itemm">
      <a 
      class="
      flex flex-col 
      hover:bg-gray-300 
      px-6
      py-3
      rounded-xl
      items-end
      "

      href="{% url 'core:over-view' 'sales' %}">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
        </svg>
        <p>
          المبيعات
        </p>
         

        </a>
        
    </li>
    <!--  -->
    <li class="
    
    {% if chosen == 'calculation' %}
    bg-gray-300 
    {% endif %}  
    itemm">
      <a 
      class="
      hover:bg-gray-300 
      px-6
      py-3
      rounded-xl
      items-end
      flex flex-col  "
      href="{% url 'core:over-view' 'calculation' %}">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
        </svg>
        <p>
        الحسابات
      </p>
         

        </a>
        
    </li>
    <!--  -->
    <li class="
    
    {% if chosen == 'warehouse' %}
    bg-gray-300 
    {% endif %}  
    itemm">
      <a 
      class="
      hover:bg-gray-300 
      px-6
      py-3
      rounded-xl
      items-end
      flex flex-col  "
      href="{% url 'core:over-view' 'warehouse' %}">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
      </svg>
      
        <p>
        المخزن
      </p>
         

        </a>
        
    </li>
    <!--  -->
    <!--  -->
    <li class="
    
    {% if chosen == 'hr' %}
    bg-gray-300
    {% endif %}  
    itemm">
      <a 
      class="
      hover:bg-gray-300 
      px-6
      py-3
      rounded-xl
      items-end
      flex flex-col 
      "
      href="{% url 'core:over-view' 'hr' %}">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
      </svg>
      
      
        <p>
        الموارد البشرية
      </p>
         

        </a>
        
    </li>
    <!--  -->
    <!--  -->
    <li class="
    
    {% if chosen == 'products' %}
    bg-gray-300
    {% endif %}  
    itemm">
      <a 
      class="
      
      hover:bg-gray-300 
      px-6
      py-3
      rounded-xl
      items-end
      flex flex-col "
      href="{% url 'core:over-view' 'products' %}">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
      </svg>
      
      
        <p>
        المنتجات   </p>
         

        </a>
        
    </li>
      <!--  -->
     
      <!--  -->


      <li class="
    
   
    itemm
    
    
      px-6
      py-3
      rounded-xl
      items-end
      flex flex-col 
    ">
      <a 
      class="

     
      px-3
      rounded-xl
      py-2
      border
      border-black
      "

      href="{% url 'core:logout' %}">

      
      
        <span

        
        >

          Logout
        </span>

         

        </a>
        
    </li>
    <!--  -->
    </ul>
  </section>

</header>

<script>
  let btn = document.querySelector('.this_is_me')
  let is_foucased = false
  let the_boss    = document.querySelector(".th_boss")
  btn.addEventListener('click', ()=>{
    if (is_foucased){
      btn.blur()
      the_boss.classList.add('hidden')

      is_foucased = !is_foucased

    }else{

      btn.focus()
      the_boss.classList.remove('hidden')
      is_foucased = !is_foucased
    }

  })
</script>