{% extends "main/base.html" %}
{% load static %}


{% block title %}{{data.name}} {% endblock title %}

{% block content %}

  <section
  class=""
  >
  
  {% for me in messages %}
<div class="flex mx-auto justify-center bg-green-300 py-1 my-2">
  {% if me %}
  {{me}}
  <br>
  {% endif %}
</div>
{% comment %} كنت انتظرها {% endcomment %}
{% endfor %}

{% comment %}  {% endcomment %}
{% if chosen == 'warehouse' %}
<form  
dir="rtl"
method="post"
class="
mt-10
px-10
py-2

"
>
{% csrf_token %}
<div
  
  class=" grid
  content-end
  mx-auto
  w-[80%]
  grid-cols-2
  gap-10">

    <input type="hidden" name="type" value="edit">
       اسم المخزن <input type="text"    value="{{data.name}}" class="border-black border px-2 py-1 rounded" name="name"       placeholder="اسم المخزن">   
       عنوان المخزن <input type="text"  value="{{data.address}}"         class="border-black border px-2 py-1 rounded" name="address"    placeholder="عنوان المخزن"> 
       أقصى كم <input type="number"     value="{{data.max_amount}}"    class="border-black border px-2 py-1 rounded" name="max_amount" placeholder="أقصى كم">      
       
      
      <!--  -->
      
    </div>

    <input type="submit" value="تعديل"
    class="
    bg-blue-400
    rounded 
    w-fit 
    px-3 
    py-2 
    
flex
mt-5
mx-auto
hover:scale-[1.1]
    transition-transform
    border
    border-black
    "
    >
    </form>


    <section
    dir="rtl"
    class="border border-black  px-10 mx-10"
    >
    <div class="flex gap-10 " >
      
      المخزن يحتوي على {{data.amount_init}} من العناصر
    </div>
    
    <br>
    <div
    class="flex gap-10 w-[100%]"
    >

      <div
    class="
    w-[50%]
    "
    >
    <p>

      داخل المخزن
    </p>
    <div class="border
    border-black
    my-3
    py-3
    px-3
">
<form  method="post">
  <input type="hidden" name="type" value="inside">
  {% csrf_token %}
  {% for i in data.our_obj %}


  <div class="flex justify-between w-[100%] flex-row-reverse">
    
    <input name="{{i.products.pk}}" value="{{i.products.pk}}" type="checkbox">
    <a

    class="
    w-[100%]
    px-2
    hover:bg-gray-300 rounded
    
    "

    href="{% url 'core:detail-view' 'products' i.products.pk %}">
      {{i.products.name}}

    </a>
    <hr
    class="
    border-black
    
    ">
  </div>
  {% endfor %}

  <input type="submit" 
  class="flex mx-auto my-3 px-3 py-1 bg-blue-400 rounded border border-black hover:scale-[1.09] transition-transform"
  value="أخرج العناصر من المخزن">
</form>
    </div>
  </div>
  <div
  class="w-[50%]"
  >
    <p>

      خارج المخزن
    </p>
    <div
    class="
    border
    border-black
    my-3
    py-3
    px-3

    ">

    <form  method="post">
      <input type="hidden" name="type" value="outside">
      {% csrf_token %}
      {% for i in data.other_obj %}


      <div class="flex justify-between w-[100%] flex-row-reverse">
        
        <input name="{{i.0.pk}}" value="{{i.0.pk}}" type="checkbox">
        <a

        class="
        w-[100%]
        px-2
        hover:bg-gray-300 rounded
        
        "
  
        href="{% url 'core:detail-view' 'products' i.0.pk %}">
          {{i.0.name}}

        </a>
        <hr
        class="
        border-black
        
        ">
      </div>
      {% endfor %}

      <input type="submit" 
      class="flex mx-auto my-3 px-3 py-1 bg-blue-400 rounded border border-black hover:scale-[1.09] transition-transform"
      value="ادخل العناصر داخل المخزن">
    </form>
    </div>
  </div>
</div>


</section>

{% elif chosen == "products" %}
<form  
dir="rtl"
method="post"
class="
mt-10
px-10
py-2

"
>
{% csrf_token %}
<div
  
  class=" grid
  content-end
  mx-auto
  w-[80%]
  grid-cols-2
  gap-10">

  نوع المنتج<select 
  class="px-6 py-3 rounded-xl"
  name="p_type" >
    {% for i in more  %}
      <option 
      {% if i == data.p_type %}
      selected
      {% endif %}
      class=" px-6 py-3 my-3 mx-6"
      value="{{i.pk}}">{{i.name}}</option>
    {% endfor %}
  </select>
  <br>
  
    <input type="hidden" name="type" value="edit">
       اسم المنتج <input type="text"       value="{{data.name}}"           class="border-black border px-2 py-1 rounded" name="name"       placeholder="اسم المخزن">   
       الكمية     <input type="number"     value="{{data.amount}}"         class="border-black border px-2 py-1 rounded" name="amount"     placeholder="عنوان المخزن"> 
       سعره       <input type="number"     value="{{data.salary}}"         class="border-black border px-2 py-1 rounded" name="salary"     placeholder="أقصى كم">      
       {% if x %}
         
        المخزن   <a
        class="hover:bg-gray-200
        transition-all
        text-center
        rounded
        py-3

        "
        href="{% url 'core:detail-view' 'warehouse' ware.pk %}"> {{ware.name}}</a>
        {% else %}

        المخزن   <span class="text-center"> {{ware}}</span>
       {% endif %}
      
      <!--  -->
      
    </div>

    <input type="submit" value="تعديل"
    class="
    bg-blue-400
    rounded 
    w-fit 
    px-3 
    py-2 
    
flex
mt-5
mx-auto
hover:scale-[1.1]
    transition-transform
    border
    border-black
    "
    >
    </form>

{% endif %}


  </section>
{% endblock content %}