{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login|Grand aqua</title>
  <script src="{% static 'js/tailwind.js' %}"></script>

  <link rel="icon" href="{% static 'media/grabd_icon.png' %}" type="icon">

</head>
<body>
  
  <style>
    section{
      background: linear-gradient(to top, rgb(25, 45, 111), lightblue);
    }
  </style>
  <section 
  class="
  h-[100vh]

  flex
  flex-col
  justify-center
  items-center
  gap-10
  "
  >
    <img src="{% static 'media/grabd_logo-1.png' %}" 
    class="

    
    "
    alt="Logo">

    <p 
    class="
    
    "
    >
      شكرا لإستخدامك موقعنا
    </p>

    <a href="{% url 'core:login' %}"
    class="

        px-6
        py-3
        bg-gray-300
        rounded-xl
        shadow-[0_0_10px_black]
        hover:scale-[1.1]
        transition-all
    " 
    >تسجيل الدخول؟</a>
  </section>
</body>
</html>







